 body{
     background-color: rgba(232, 232, 250, 0.552);
 }
.Self_profile{
    display: flex;
    justify-content: space-evenly;
}
.something_else{
    display:flex;
   justify-content:space-evenly;
}
.head{
  display:flex;
  
}
.prof{
width:72%;
margin-left:30px;
}
.sugg{
width: 40%;
}
