.sidebar{
   display: flex;
   flex: 60%;
   border-radius: 10px;
   border-bottom: 1px solid;

   
}

.sidewrapper{
   /* padding:10%; */
   margin-left: 20px;
}

.content{
   margin: 10px;
}
.show
{
   padding:5px;
   border: 0px;
   background-color: white;
   color: mediumturquoise;
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-size: medium;
   
}