.sidebar{
   display: flex;
  

   border-bottom: 1px solid;
   border-radius: 10px;

   
}

.sidewrapper{
   padding:20px;
}

.content{
   margin: 5px;
}
.show
{
   padding:5px;
   border: 0px;
   background-color: white;
   color: mediumturquoise;
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-size: medium;
   
}