
.first{
    display: flex;
    justify-content: center;
    background-color: white;
    position: relative;
    border-radius: 10px;
}
.background{
    margin-bottom: 45px;
    width: 20vw;
    height: 90px;
    border-radius: 10px;
}
.firstf
{
    top :45px;
    position: absolute;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border:2px solid white;
    
      
}
.second
{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.second h3{
    margin: 3px;
}
.second p{
    margin: 5px;
}
.third
{
    display:flex;
    padding-bottom: 15px;   
}
.third h4{
    margin: 5px;
}
.third p{
    margin: 5px;
}
.forth
{    
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid;
    align-items: center;
    font-size: 15px;
}
.fifth
{
    text-align: center;
    display:table-cell;
    padding-left:  45px;
    font-size: 15px;
}
