.styling
{
 margin-top: 10px;
 display: flex;
 flex-direction: column;
}

.single
{   
   
    border-radius: 10px;
    width: 20vw;
    background-color: white;
    -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.6);
}

.stylee
{   
    margin-top: 10px;
    border-radius: 10px;
    width: 20vw;
    background-color: white;
    -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.6);
}
.something_else{
    display:flex;
    justify-content:space-evenly;
}
h3{
    font-size: 1.3rem;
}

